.search-results {
  margin: 30px 100px 0px 100px;
}

.marker-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.custom-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #03befc;
  cursor: pointer;
}

.custom-range:hover{
  opacity: 1;
}
.custom-range{
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.marker-btn img {
  width: 50px;
  height: 50px;
}


// ! Reply Page 

.reply-page {
  display: flex;
  justify-content: center;
}

.replies-section {
  width: 400px;
}

.current-comment {
  margin: 30px 0px;
}

  .add-reply {
    margin: 30px 0px;
  }

.replies-shown {
  height: 55vh;
  overflow: auto;
}

.add-reply {
  margin: 30px 0px;
}


.mapboxgl-marker {
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);

}


// ! Single Page

.single-page {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  ;

  .single-left-side {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 66vh;
    margin-left: 100px;

    .name {
      border: 1px solid black;
    }

    .address-info-times {
      border: 1px solid black;
      display: flex;
      justify-content: space-evenly;

      .address {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
      }

      .info {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
      }

      .opening-times {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
      }
    }

    .description {
      border: 1px solid black;
    }

    .weather {
      border: 1px solid black;
      display: flex;
      overflow: auto;
    }
  }


  .single-middle {

    width: 300px;

    .each-slide>div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      height: 350px;
    }

    .single-map {
      border: 5px solid black;
    }
  }

  .single-right-side {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 33vh;
    margin-right: 100px;

    .sub-button {
      border: 1px solid black;
      display: flex;
      justify-content: flex-end;
    }

    .comments-section {
      height: 100vh;
      overflow: auto;
    }

  }
}


// !! ---------------- React Toggle ----------------

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;

}

// .marker-btn{
//   background: none;
//   border: none;
//   cursor: pointer;
//   transform: translate(-50%, -50%);
// }
// .marker-btn img{

//   // transform: translate(-50%, 0);
//   // width: 50px;
//   // height: 50px;

// }


// .mapboxgl-ctrl-geocoder {
//   width: 300px!important;
// }
// .geocoder-dropdown-item {
//   padding: 50px;
//   }

//   .react-geocoder-results{
//     width: 300px!important;
//     padding: 50px;
//     color: green;
//   }




.mapboxgl-ctrl-geocoder {
  width: 650px !important;
  max-width: 1000px !important;
  height: 35px !important;
  font-size: 20px !important;
  margin-left: 60% !important;
}



// .BeerIcon{
//   margin: 0px;
//   // width: 200px !important;
// left:50%;
// top:50%;

// }