.search-results {
  margin: 0px 100px 0px 100px;
}

.field {
  margin-bottom: 6px !important;
}

.label {
  margin-bottom: 3px !important;
}

.marker-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  // transform: translate(-50%, -50%);
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #03befc;
  cursor: pointer;
}

.custom-range:hover {
  opacity: 1;
}

.custom-range{
  background: #ffffff;
  width: 40%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  appearance: none
}

.clearFilter {
  appearance: none;
  border: none;
  background-color: #03befc;
  width: 10%;
  opacity: 0.8;
  transition: opacity .2s;
  font-weight: 800;
}

.clearFilter:hover {
  opacity: 1;
}


.marker-btn img {
  width: 50px;
  height: 50px;
}

.MapUI{
  display: flex;
  flex-direction: row;
  // left: 27%;
  // top: 17%;
  z-index: 1;
  justify-content: center;
  position: absolute;
  transform: translate(00%,200%);
  width: 100%;
  // height: 55%;

}

.range-Indicator{
  z-index: 2;
  display: flex;
  margin-left: 25%;
  position: absolute;
  transform: translate(00%,310%);
  width: 100%;
}


// ! Admin Page --

.users-page {
  display: flex;
  justify-content: center;

  .search-results {
    display: flex;
    justify-content: center;

    .indiv-result {
      min-width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.pub-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}


.flagged-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

// ! Flagged Page --

.admin-page {
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1581876574411-10b7b7b978d5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 6%;
  
}

.flagged-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ! Create Pub Page --

.create-page {
  height: 120vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1504502350688-00f5d59bbdeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  h1 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
  }

  .label {
    color: white;
  }

  .submit-flex {
    display: flex;
    justify-content: center;
  }
}

// ! Edit Pub Page

.edit-page {
  height: 120vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1504502350688-00f5d59bbdeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  h1 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
  }

  .label {
    color: white;
  }

  .submit-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
}

// ! Reply Page 

.reply-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: white;
  font-weight: bold;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;


  .comments-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    border: solid white 5px;
    border-radius: 10px;
    max-width: 90%;
    min-width: 30%;

    .media {
      margin: 0px 10px;
    }    

    .c-comment {
    background: rgba(0, 0, 0, 0.5);
    border: solid white 5px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;

    .button-flex-2 {
      display: flex;
      justify-content: flex-end;
    }
    }

    .current-comment {
      margin: 30px 0px;
    }

    .together {
      margin: 0px;
    }
  }

  .replies-section {
    max-width: 100%;
    min-width: 30%;
    
    .button-flex {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }


    .add-reply {
      margin: 30px 0px;
    }
  
    .replies-shown {
      height: 43vh;
      overflow: auto;

      .media {
        margin: 0px 10px 20px 10px;
      }

      .user-time {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        }

      .username {
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
        }
      }
    }
  }



// ! Single Page

.single-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  color: white;
  font-weight: bold;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .single-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    height: 90vh;
    width: 50%;
    margin-left: 50px;
    margin-top: 50px;

    .name {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid lightgrey;
      font-size: 40px;
      margin-bottom: 20px;
    }

    .address-info-times {
      display: flex;
      justify-content: space-evenly;
      margin: 20px 0px;
      max-width: 800px;
      border: solid white 5px;
      border-radius: 10px;
      padding: 20px;
      background: rgba(0, 0, 0, 0.5);

      .address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 60px 0px 30px;
        font-weight: bold;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: disc;
        margin: 0px 30px;
      }

      .opening-times {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px 30px;
      }
    }

    .description {
      margin: 20px 0px;
      text-align: center;
      max-width: 800px;
    }

    .weather {
      display: flex;
      overflow-x: scroll;
      max-width: 500px;
      margin: 20px 0px;
      border: solid white 5px;
      border-radius: 10px;


      .future-weather-day {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border-right: 1px solid lightgrey;
        font-weight: normal;
        height: 190px;


        h3, p {
          width: 160px;
          text-align: center;
        }
      }
    }

    .edit-delete-buttons {
      display: flex;
      justify-content: center;
    }
    
    .button {
      margin: 10px;
    }
  }


  .single-middle {
    width: 25%;
    margin: 80px 50px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .slide-show {
      margin-bottom: 40px;
      border: solid white 5px;
      border-radius: 10px;
      
      .each-slide>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 350px;
    }
  }
    .single-map {
      display: flex;
      justify-content: center;
      
      .mapgl {
        border: solid white 5px;
        border-radius: 10px;
      }
    }
  }

  .single-right-side {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 25%;
    margin-right: 50px;
    margin-top: 50px;

    .sub-button {
      display: flex;
      justify-content: center;
    }

    .comments-section {
      height: 80vh;
      overflow: auto;
      margin-top: 40px;

      .media {
        margin: 0px 10px 20px 10px;
      }

      .user-time {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    
        .username {
          font-size: 20px;
          font-weight: bold;
          text-decoration: underline;
        }
      }

    }

  }
}


.flagged {
  border: solid 1px black;
  margin: 10px 0px;
}

// !! ---------------- React Toggle ----------------

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;

}

// .marker-btn{
//   background: none;
//   border: none;
//   cursor: pointer;
//   transform: translate(-50%, -50%);
// }
// .marker-btn img{

//   // transform: translate(-50%, 0);
//   // width: 50px;
//   // height: 50px;

// }


// .mapboxgl-ctrl-geocoder {
//   width: 300px!important;
// }
// .geocoder-dropdown-item {
//   padding: 50px;
//   }

//   .react-geocoder-results{
//     width: 300px!important;
//     padding: 50px;
//     color: green;
//   }



.mapboxgl-control-container {
  width: 100vh !important;
  height: 90vh !important;

}
// .mapboxgl-ctrl-geocoder--input {
//   width: 100% !important;
//   max-width: 1000px !important;
//   height: 35px !important;
//   font-size: 20px !important;
//   margin-left: 60% !important;
// }

.mapboxgl-ctrl-top-left{
  display: flex;
  justify-content: center;
  width: 100%;
}

.mapboxgl-ctrl-geocoder{

  background-color: green;
  width: 50% !important;
  max-width: 100% !important;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl{
  margin-left: 0px !important;
}

.FriendList {
  animation: FriendsPopDown 0.25s ease 1;
  border: 5px solid rgb(219, 219, 219);
  border-radius: 5px;
  left: 2%;
  background-color: rgba(231, 231, 231, 0.829);


  width: 20%;
  height: 5%;
  position: absolute;
  z-index: 1;
top: 95%;
  overflow: hidden;
}

.FriendList:hover{
  animation: FriendsPopUp 0.25s ease 1;
  top: 60%;
  height: 40%; 
}

@keyframes FriendsPopUp {
  0% {
    top: 95%;
    height: 40%;
  }

  100% {
    top: 60%;
    height: 40%;
  }
}

@keyframes FriendsPopDown {
  0% {
    top: 60%;
    height: 40%;
  }

  100% {
    top: 95%;
    height: 40%;
  }

}


.mapboxgl-ctrl-logo {
  display: none !important;
}
.FriendCard{
  background-color: rgba(0, 0, 0, 0.884);
  color: white;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  font-weight: 700;
}

.LeftForm{
  
width: 15% !important;
// min-width: 25px !important;
margin-top: 5%;
}

.search{
  margin-top: 5%;
}

.custom-rangePub{
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(196, 196, 196);
  appearance: none;
}
.custom-rangePub::-webkit-slider-thumb{
  appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  border: 2px solid gray;
  cursor: pointer;
}


// .BeerIcon{
//   margin: 0px;
//   // width: 200px !important;
// left:50%;
// top:50%;
// }


//! Progress bar

.pint-holder{
  display: flex;
  flex-direction: column;
}


.pint {
  border-bottom: 1rem solid rgba(150, 150, 150, 0.666);
  border-top:1rem solid rgba(150, 150, 150, 0.666);
  border-left:1rem solid rgba(150, 150, 150, 0.666);
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  transform: rotate(270deg);
  height: 15rem;
  width: 25rem;
}
progress {
  padding: 0px;
  margin: 0px;
  border-radius: 0%;
  height: 13rem;
  width: 100%;


}

progress::-webkit-progress-bar {
  background-color: rgb(128, 128, 128);

}

progress::-webkit-progress-value {
  background-image: url(https://i.imgur.com/rfeXVUC.jpg);
  transform: rotate(180deg);
  background-size: cover;
  // background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease-in-out;
}

.ListForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.ColorInvert{
  background-color: rgb(24, 11, 11);
}

body{
  height: 100vh;
  width: 100vw;
  font-family: 'Ubuntu', sans-serif;
 background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("https://images.unsplash.com/photo-1560290881-c6839ff0717e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");

}

label{
  color: whitesmoke;
  font-weight: 600;
}